<div class="background-router-o row"> 
    <div class="col-12 col-md-12 pb-3 pe-3">
        <p-card [style]="{'width': '100%'}">
            <table class="table table-borderless">
                <thead>
                    <tr>
                      <th scope="col">Datos del tramite</th>
                    </tr>
                  </thead>
                <tbody>
                  <tr class="border-t">
                      <th scope="col" >Tipo Tramite</th>
                      <td scope="col">RENOVACION</td>
                    </tr>
                  <tr>
                      <th scope="col">Status</th>
                      <td scope="col">DUI ENTREGADO</td>
                  </tr>
                  <tr>
                      <th scope="col">Part. Marc.</th>
                      <td scope="col">0</td>
                  </tr>
                  <tr>
                      <th scope="col">Folio</th>
                      <td scope="col" >9036948</td>
                    </tr>
                    <tr>
                        <th scope="col">Fecha Reg.</th>
                        <td scope="col">04/12/2020</td>
                    </tr>
                    
                    <tr>
                        <th scope="col">Fecha Emi.</th>
                        <td scope="col">04/12/2020</td>
                  </tr>
                  <tr>
                      <th scope="col">Fecha Entr.</th>
                      <td scope="col">04/12/2020</td>
                  </tr>
                  <tr>
                      <th scope="col">Fecha Venc.</th>
                      <td scope="col">03/12/2028</td>
                  </tr>
                  <tr class="border-t">
                      <th scope="col">Otro Serv.</th>
                      <td scope="col">GALERIAS</td>
                  </tr>
                </tbody>
            </table>
        </p-card>
    </div>
</div>

