<div class="background-router-o row"> 
    <div class="col-12 col-md-12 pb-3 pe-3">
        <p-card [style]="{'width': '100%'}">
            <table class="table table-borderless">
                <thead>
                    <tr>
                      <th scope="col">Datos del trámite</th>
                    </tr>
                  </thead>
                <tbody>
                  <tr class="border-t">
                      <th scope="col">Tipo Trámite</th>
                      <td scope="col"> {{datosTramite?.tipoTramite }}</td>
                    </tr>
                  <tr>
                      <th scope="col">Status</th>
                      <td scope="col"> {{datosTramite?.status }}</td>
                  </tr>
                  <tr>
                      <th scope="col">Part. Marc.</th>
                      <td scope="col"> {{datosTramite?.partMarc }}</td>
                  </tr>
                  <tr>
                      <th scope="col">Folio</th>
                      <td scope="col"> {{datosTramite?.folio }}</td>
                  </tr>
                  <tr>
                       <th scope="col">Fecha Reg.</th>
                       <td scope="col"> {{datosTramite?.fechaReg }}</td>
                    </tr> 
                    <tr>
                        <th scope="col">Fecha Emi.</th>
                        <td scope="col"> {{datosTramite?.fechaEmi }}</td>
                  </tr>
                  <tr>
                      <th scope="col">Fecha Entr.</th>
                      <td scope="col"> {{datosTramite?.fechaEntr }} </td>
                  </tr>
                  <tr>
                      <th scope="col">Fecha Venc.</th>
                      <td scope="col"> {{datosTramite?.fechaVenc }}</td>
                  </tr>
                  <tr class="border-t">
                      <th scope="col">Otro Serv.</th>
                      <td scope="col"> {{datosTramite?.centroServi }}</td>
                  </tr>
                </tbody>
            </table>
        </p-card>
    </div>
</div>

