<div class="row">
    <div class="col-12 col-md-6">
        <div class="col-12 col-md-12 pb-3 pe-3">
            <p-card [style]="{'width': '100%'}">
                <table class="table table-borderless">
                    <tbody>
                      <tr class="border-t">
                          <th scope="col">DUI</th>
                          <td scope="col"> {{ datosPartida?.dui }}</td>
                        </tr>
                      <tr>
                          <th scope="col">No. Solicitud</th>
                          <td scope="col"> {{ datosPartida?.noSoli }}</td>
                      </tr>
                      <tr class="border-t">
                          <th scope="col">Nombres</th>
                          <td scope="col"> {{ datosPartida?.nom1 +' '+ datosPartida?.nom2}}</td>
                      </tr>
                      <tr>
                          <th scope="col">Apellidos</th>
                          <td scope="col"> {{ datosPartida?.ape1 +' '+   datosPartida?.ape2}}</td>
                      </tr>
                      <tr>
                          <th scope="col">Sexo</th>
                          <td scope="col"> {{ datosPartida?.sexo }}</td>
                      </tr>
                      <tr class="border-t">
                          <th scope="col">Madre</th>
                          <td scope="col"> {{ datosPartida?.nomMadre }}</td>
                      </tr>
                      <tr>
                          <th scope="col">Padre</th>
                          <td scope="col"> {{ datosPartida?.nomPadre }}</td>
                      </tr>

                      <tr class="border-t"> 
                          <th scope="col">Status</th>
                          <td scope="col"> {{ datosPartida?.status }}</td>
                        </tr>
                      <tr>
                          <th scope="col">Marginac.</th>
                          <td scope="col"> {{ datosPartida?.marginacion }}</td>
                      </tr>
                      <tr class="border-t">
                          <th scope="col">Rollo</th>
                          <td scope="col"> {{ datosPartida?.rollo }}</td></tr>
                      <tr class="border-b">
                          <th scope="col">Rollo Sec.</th>
                          <td scope="col"> {{ datosPartida?.rolloSec }}</td>
                      </tr>
                    </tbody>
                </table>
            </p-card>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="col-12 col-md-12 pb-3 pe-3">
            <p-card [style]="{'width': '100%'}">
                <table class="table table-borderless">
                    <tbody>
                      <tr class="border-t">
                          <th scope="col">Año</th>
                          <td scope="col"> {{ datosPartida?.anio }}</td>
                        </tr>
                      <tr>
                          <th scope="col">Libro</th>
                          <td scope="col"> {{ datosPartida?.libro }}</td>
                      </tr>
                      <tr>
                          <th scope="col">Folio</th>
                          <td scope="col"> {{ datosPartida?.folio }}</td>
                      </tr>
                      <tr>
                          <th scope="col">Partida</th>
                          <td scope="col"> {{ datosPartida?.partida }}</td>
                      </tr>
                      <tr>
                           <th scope="col">Depto. Libro</th>
                           <td scope="col"> {{ datosPartida?.deptoLibro }}</td>
                      </tr>  
                      <tr>
                            <th scope="col">Munic. Libro</th>
                            <td scope="col"> {{ datosPartida?.muniLibro }}</td>
                      </tr>
                      <tr class="border-t">
                          <th scope="col">Fecha Nac.</th>
                          <td scope="col"> {{ datosPartida?.fecNac }}</td>
                      </tr>
                      <tr>
                          <th scope="col">Depto. Nac.</th>
                          <td scope="col"> {{ datosPartida?.deptoNac }}</td>
                      </tr>
                      <tr>
                          <th scope="col">Munic Nac.</th>
                          <td scope="col"> {{ datosPartida?.muniNac }}</td>
                      </tr>
                      <tr class="border-b">
                          <th scope="col">Cuadro</th>
                          <td scope="col"> {{ datosPartida?.cuadro }}</td>
                      </tr>
                    </tbody>
                </table>
            </p-card>
        </div>
    </div>
</div>
