<div class="row">
    <div class="col-12 col-md-6">
        <div class="col-12 col-md-12 pb-3 pe-3">
            <p-card [style]="{'width': '100%'}">
                <table class="table table-borderless">
                    <tbody>
                      <tr class="border-t">
                          <th scope="col">DUI</th>
                          <td scope="col">4010332</td>
                        </tr>
                      <tr>
                          <th scope="col">No. Solicitud</th>
                          <td scope="col">20419051</td>
                      </tr>
                      <tr class="border-t">
                          <th scope="col">Nombres</th>
                          <td scope="col">HECTOR ISAIAS</td>
                      </tr>
                      <tr>
                          <th scope="col">Apellidos</th>
                          <td scope="col" >ARGUETA GUDIEL</td>
                      </tr>
                      <tr>
                          <th scope="col">Sexo</th>
                          <td scope="col" >M</td>
                      </tr>
                      <tr class="border-t">
                          <th scope="col">Madre</th>
                          <td scope="col">ANA SILVIA</td>
                          <td scope="col">GUIDIEL</td>
                      </tr>
                      <tr>
                          <th scope="col">Padre</th>
                          <td scope="col">HECTOR PORFIRIO</td>
                          <td scope="col">ARGUETA TREJO</td>
                      </tr>

                      <tr class="border-t"> 
                          <th scope="col">Status</th>
                          <td scope="col">V</td>
                        </tr>
                      <tr>
                          <th scope="col">Marginac.</th>
                          <td scope="col">N</td>
                      </tr>
                    <tr>
                        <th scope="col">Escaneada</th>
                        <td scope="col">DOCUSAL</td>
                    </tr>
                    <tr class="border-t">
                        <th scope="col">Rollo</th>
                        <td scope="col">1</td>
                    </tr>
                    <tr class="border-b">
                        <th scope="col">Rollo Sec.</th>
                        <td scope="col">1</td>
                    </tr>
                    </tbody>
                </table>
            </p-card>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="col-12 col-md-12 pb-3 pe-3">
            <p-card [style]="{'width': '100%'}">
                <table class="table table-borderless">
                    <tbody>
                      <tr class="border-t">
                          <th scope="col">Año</th>
                          <td scope="col">1988</td>
                        </tr>
                      <tr>
                          <th scope="col">Libro</th>
                          <td scope="col">8A</td>
                      </tr>
                      <tr>
                          <th scope="col">Folio</th>
                          <td scope="col">338</td>
                      </tr>
                      <tr>
                          <th scope="col">Partida</th>
                          <td scope="col">336</td>
                      </tr>
                      <tr>
                           <th scope="col">Depto. Libro</th>
                           <td scope="col">SAN SALVADOR</td>
                      </tr>  
                      <tr>
                            <th scope="col">Munic. Libro</th>
                            <td scope="col">SAN SALVADOR</td>
                      </tr>
                      <tr class="border-t">
                          <th scope="col">Fecha Nac.</th>
                          <td scope="col">07/06/1988</td>
                      </tr>
                      <tr>
                          <th scope="col">Depto. Nac.</th>
                          <td scope="col">SAN SALVADOR</td>
                      </tr>
                      <tr>
                        <th scope="col">Munic Nac.</th>
                        <td scope="col">SAN SALVADOR</td>
                    </tr>
                      <tr class="border-t">
                          <th scope="col">Cuadro</th>
                          <td scope="col">5597730</td>
                      </tr>
                      <tr>
                        <th scope="col">Imagen</th>
                        <td scope="col">00559773031.TIF</td>
                      </tr>
                      <tr>
                        <th scope="col">Síg. Imagen</th>
                        <td scope="col">00559773022. TIF</td>
                      </tr>
                      <tr class="border-t ">
                        <th scope="col">Fecha Carga</th>
                        <td scope="col">14/11/2006</td>
                      </tr>
                      <tr class="border-b">
                        <th scope="col">Fecha Capt.</th>
                        <td scope="col">//</td>
                      </tr>
                    </tbody>
                </table>
            </p-card>
        </div>
    </div>
</div>
