<div class="background-router-o row"> 
    <div class="col-12 col-md-2">
        <p-image src="assets/images/p.jpeg" alt="Image" width="170"></p-image>
    </div>
    <div class="col-12 col-md-5">
        <div class="col-12 col-md-12 pb-3 pe-3">
            <p-card [style]="{'width': '100%'}">
                <table class="table table-borderless">
                    <tbody>
                      <tr class="border-t">
                          <th scope="col" >No. DUI</th>
                          <td scope="col">04010332-7</td>
                        </tr>
                      <tr>
                          <th scope="col">No. Solicitud</th>
                          <td scope="col">20419051</td>
                      </tr>
                      <tr>
                          <th scope="col">Nombre</th>
                          <td scope="col" >HECTOR ISAIAS</td>
                      </tr>
                      <tr>
                          <th scope="col">Apellidos</th>
                          <td scope="col" >ARGUETA GUDIEL</td>
                      </tr>
                      <tr>
                          <th scope="col">Sexo</th>
                          <td scope="col" >M</td>
                      </tr>

                      <tr class="border-t">
                        <th scope="col" >Est. Familiar</th>
                        <td scope="col" >SOLTERO</td>
                      </tr>
                      <tr>
                          <th scope="col">Sit. Familiar</th>
                          <td scope="col" colspan="5"></td>
                      </tr>
                      <tr>
                          <th scope="col">Conyugue</th>
                          <td scope="col" colspan="5"></td>
                      </tr>
                      <tr>
                          <th scope="col">Madre</th>
                          <td scope="col" colspan="5">ANA SILVIA GUIDIEL</td>
                      </tr>
                      <tr>
                          <th scope="col">Padre</th>
                          <td scope="col" colspan="5">HECTOR PORFIRIO ARGUETA TREJO</td>
                      </tr>

                      <tr class="border-t"> 
                          <th scope="col" >Fecha Nac.</th>
                          <td scope="col" colspan="5">07/06/1988</td>
                        </tr>
                      <tr>
                          <th scope="col">País Nac.</th>
                          <td scope="col" colspan="5">EL SALVADOR</td>
                      </tr>
                    <tr>
                        <th scope="col">Depto. Nac.</th>
                        <td scope="col" colspan="5">SAN SALVADOR</td>
                    </tr>
                    <tr>
                        <th scope="col">Munic. Nac.</th>
                        <td scope="col" colspan="5">SAN SALVADOR</td>
                    </tr>
                    <tr>
                        <th scope="col">Salv. por</th>
                        <td scope="col" colspan="5">NACIMIENTO</td>
                    </tr>
                    <tr>
                      <th scope="col">Nac. Ext</th>
                      <td scope="col" colspan="5">N</td>
                    </tr>

                    <tr class="border-t">
                        <th scope="col" >Estado Cdno.</th>
                        <td scope="col" colspan="5">HABILITADO</td>
                      </tr>
                    <tr>
                        <th scope="col">Prof. u Oficio</th>
                        <td scope="col" colspan="5">ESTUDIANTE</td>
                    </tr>
                    <tr>
                        <th scope="col">Peso</th>
                        <td scope="col" colspan="5">68</td>
                    </tr>
                    <tr>
                        <th scope="col">Estatura</th>
                        <td scope="col" colspan="5">176</td>
                    </tr>
                    <tr class="border-b">
                        <th scope="col">Conocido Por</th>
                        <td scope="col" colspan="5">N</td>
                    </tr>
                    </tbody>
                </table>
            </p-card>
        </div>
    </div>
    <div class="col-12 col-md-5">
        <div class="col-12 col-md-12 pb-3 pe-3">
            <p-card [style]="{'width': '100%'}">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                          <th scope="col">Residencia</th>
                        </tr>
                      </thead>
                    <tbody>
                      <tr class="border-t">
                          <th scope="col">Residencia</th>
                          <td scope="col">Calle PJE 20, POL K~2</td>
                        </tr>
                      <tr>
                          <th scope="col">Casa</th>
                          <td scope="col">CASA #5</td>
                      </tr>
                      <tr>
                          <th scope="col">ZIP</th>
                          <td scope="col">104010000T</td>
                      </tr>
                      <tr>
                          <th scope="col">País</th>
                          <td scope="col">EL SALVADOR</td>
                        </tr>
                        <tr>
                            <th scope="col">Depto</th>
                            <td scope="col">LA LIBERTAD</td>
                        </tr>
                        
                        <tr>
                            <th scope="col">Munic.</th>
                            <td scope="col">SANTA TECLA</td>
                      </tr>
                      <tr>
                          <th scope="col">Canton</th>
                          <td scope="col">SIN CANTON</td>
                      </tr>
                      <tr>
                          <th scope="col">Caseno</th>
                          <td scope="col">SIN CASERIO</td>
                      </tr>
                      <tr class="border-b">
                          <th scope="col">Tel. Part.</th>
                          <td scope="col">22287589</td>
                      </tr>
                    </tbody>
                </table>
            </p-card>
        </div>
    </div>
</div>
