<div class="background-f">
  <div class="container just-content-center" id="icon-grid">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 g-4 py-5">
      <div class="col d-flex align-items-start">
        <div>
          <div class="row ">
            <div class="just-center-col col-12 col-md-1 pb-2">
              <i class="fa-solid fa-location-dot"></i>
            </div>
            <div class="just-center-col col-12 col-md-11 pb-3">
              Registro Nacional De Las Personas Naturales Alameda Manuel Enrique Araujo, kilometro 4 y 1/2 carretera a Santa Tecla, 
              colonia Roma, pasaje Carbonell, San Salvador, El Salvador.
            </div>
          </div>
          <div class="row">
            <div class="just-center-col col-12 col-md-1 pb-2">
              <i class="fa-solid fa-phone"></i>
            </div>
            <div class="just-center-col col-12 col-md-11 pb-3">
              2521-9300
            </div>
          </div>
          <div class="row">
            <div class="just-center-col col-12 col-md-1 pb-2">
              <i class="fa-solid fa-envelope"></i> 
            </div>
            <div class="just-center-col col-12 col-md-11 pb-3">
              info@rnpn.gob.sv
            </div>
          </div>
        </div>
      </div>
      <div class="just-content-center col d-flex">
        <img class="img-f" src="../../../assets/images/logo-gobierno.svg"/>
      </div>
      <div class="just-content-right col d-flex">
        <div class>
          <div class="row">
            <h6 class="h6-footer-text">Únete a nuestra comunidad</h6>
          </div>
          <div>
            <a class="link-secondary"  href="https://www.facebook.com/rnpn.sv"><i class="icon-style-f fa-brands fa-facebook-square"></i></a>
            <a class="link-secondary"  href="https://www.instagram.com/rnpn.sv/"><i class="icon-style-f fa-brands fa-instagram-square"></i></a>
            <a class="link-secondary"  href="https://twitter.com/rnpn_sv"><i class="icon-style-f fa-brands fa-twitter-square"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>